header.index-header
    .header--brand= config.title
    h1.header--subtitle= config.subtitle

main.container
    .entry.entry--large.entry--latest-post
        .entry--thumbnail(style="background-image: url(http://simo.website/post/hexo-my-tag-plugin/eyecatch.png)")
        .entry--details
            .details--date 2017.08.01
            h2.details--title JavaScriptで今年の経過日数を取得する
            p.details--summary 日付操作はmoment.jsが最強なんですが、今日がいったい今年の何日目か調べるためだけに使うのはためらわれるので自力で実装してみました
            .details--offset-flex
            .details--footer
                a(href="/").details--category フロントエンド
                a(href="/").details--post-link 記事を読む
    
    .entry--grid
        .grid--row
                .entry.entry--medium.grid--column
                    .entry--thumbnail(style="background-image: url(http://simo.website/post/js-get-day-of-year/eyecatch.png)")
                    .entry--details
                        .details--date 2017.08.01
                        h2.details--title JavaScriptで今年の経過日数を取得する
                        p.details--summary 日付操作はmoment.jsが最強なんですが、今日がいったい今年の何日目か調べるためだけに使うのはためらわれるので自力で実装してみました
                        .details--offset-flex
                        .details--footer
                            a(href="/").details--category フロントエンド
                            a(href="/").details--post-link 記事を読む

                .entry.entry--medium.grid--column
                    .entry--thumbnail(style="background-image: url(http://simo.website/post/js-get-day-of-year/eyecatch.png)")
                    .entry--details
                        .details--date 2017.08.01
                        h2.details--title JavaScriptで今年の経過日数を取得する
                        p.details--summary 日付操作はmoment.jsが最強なんですが、今日がいったい今年の何日目か調べるためだけに使うのはためらわれるので自力で実装してみました。日付操作はmoment.jsが最強なんですが、今日がいったい今年の何日目か調べるためだけに使うのはためらわれるので自力で実装してみました
                        .details--offset-flex
                        .details--footer
                            a(href="/").details--category フロントエンド
                            a(href="/").details--post-link 記事を読む
    
    .pagenator--wrapper
        .pagenator
            a.pagenator--page-number(href="/") 0
            span.pagenator--page-number.pagenator--page-number__current 1
            a.pagenator--page-number(href="/") 2
            a.pagenator--page-number(href="/") 3