.index-header
    align-items center
    display flex
    flex-direction column
    height 300px
    justify-content center
    margin-bottom 20px
    width 100%
    .header
        &--brand
            font-brand()
            font-size 60px
            margin 40px 0 20px
        &--subtitle
            font-size 13px
            font-weight 200