.main-visual
    background #ccc
    box-shadow inset 0 -200px 100px -100px #fff
    height 420px
    left 0
    position fixed
    top 0
    width 100%
    z-index -1
    background url(http://img.wallpaper.sc/desktop/images/5k/desktop-pc-5120x2880-wallpaper_00007.jpg) center bottom
    background-size cover