body
//  font-family -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif
    font-family 'Noto Sans Japanese', sans-serif
    font-size 14px
    font-weight 200

h1, h2, h3, h4, h5, h6
    font-size 1em
    font-weight 200

ul, ol
    list-style-type none

.container
    margin 0 auto
    max-width 960px
    padding 0 10px