.entry
    background #fff
    border-radius 2px
    card-shadow()
    overflow hidden
    // 汎用スタイル
    @import "_grid"
    
    // サイズ別スタイル
    @import "_large"
    @import "_medium"
    
    // 個別スタイル
    @import "_latest-post"